/* Se você esta aqui, então quer saber como os efeitos da página funciona né?
Fique tranquilo, detalhei tudo aqui também*/
html, body {
    margin: 0;
    scroll-behavior: smooth;
}
/*Estilo 1*/
header {
    background-color: #212223;
    color: #ffffff;
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0%;
}
/* ID's */
#logo  {
    width: 7%;
    position: absolute;
    top: -30px;
    margin-left: 0%;
}
#eng  {
    width: 27%;
    position: absolute;
    right: 73%;
    bottom: -0%;
}
#dev {
    width: 16%;
    position: absolute;
    left: 84%;
    bottom: -0%;
}
#title {
    color: #292935;
    padding-top: 16%;
    font-size: 70px;
    line-height: 0.8;
}
#subtitulo {
    color: #212223;
    padding-top: -2%;
    margin-top: -2%;
    margin-left: 30%;
    margin-right: 30%;
    border-top: 3px solid #212223;
}
#button2 {
    width: 38%;
    padding-left: 30%;
}
#button {
    width: 10%;
}
#logoprojeto {
    width: 65%;
    padding-left: 30%;
    position: relative; 
}
#projeto {
    height: 100%;
}
#sobrefundo {
    background-color: #090909;
  }
#ODS9 {
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#p2 {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
#imgods9 {
width: 90%;
padding-left: 20%;
padding-top: -100%;
}
#scenario {
    background: url(Design/Background\ Section.png);
    width: 90%;
    background-size: cover;
    background-position: 50%;
    padding-bottom: 10%;
} 
#conclusion {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 50px 0;
    height: 87%;
}
#podcast {
    margin-top: 16%;
    margin-left: 47%;
    width: 7%;
}
#about {
    width: 97%;
}
/* Menu */
#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 0px;
}
li {
    float: left;
    padding: 20 10 20 10;
}
li:hover {
    background-color: #c9dfee;
}
/* Background */
#background {
    background-color: #f3f5fa;
    height: 100%;
    text-align: center;
}
/* Classes */
.destaque {
    background-color: #ffffff;
}
.destaque2 {
    background-color: #f3f5fa;
}
.coluna {
    float: left;
    padding: 2%;
    position: relative;
}
.dois {
    width: 40%
}
.justificado {
    text-align: justify;
}
.centralizado {
    text-align: center;
}
.textods9 {
    text-align: justify;
    padding-left: 13%;
}
/* TAG's */
section {
    padding: 20px;
    float: left;
}
h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    margin: 0 0 30px 0;
}
h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 0 0 21px 0;
}
h5 {
    font-size: 15;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin: 0px 50px 0px 0px;
}
p {
    font-family: "Open Sans", sans-serif;
    margin: 0 0 19px 0;
}
/* Translação (Animação foto) */
.figure-box  {
    width: 35%;
    position: relative;
}
.figure-box figure {
    overflow: hidden;
    position: relative;
    left: 100;
}
.figure-box figure img {
    max-width: 100%;
    position: relative;
    transition: transform 0.6s;
}
.figure-box figure:hover img {
    transform: translateY(-100px);
}
.figure-box figcaption {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;

    padding: 20px;
    background-color: #9e6c4c;
    color: #fff;
    text-align: center;

    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.6s, opacity 0.1s 0.3s;
}
.figure-box figure:hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.6s, opacity 0.1s;
}
.coluna2{
    float: left;
    width: 30%;
}
/* Rodapé */
footer {
    background-color: #212223;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 50px 0;
    color: #fff;
    height: 75%;
  }
  footer .container {
    padding: 30px 0 50px 0;
  }
/* Efeitos */
.zoom img {
    max-width: 70%;
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    .fadeIn {
        -webkit-animation: fadeIn 2s ease-in-out;
        -moz-animation: fadeIn 2s ease-in-out;
        -o-animation: fadeIn 2s ease-in-out;
        animation: fadeIn 2s ease-in-out;
        }
/* Responsividade */
@media all and (max-width: 600px) {
    #menu {
        visibility: hidden;
    } 
    .coluna, .dois{
        width: 100%;
   }
   .coluna2{
    float: none;
    width: 100%;
    right: 15%;
}
p {
    font-size: calc(12px + (8/1200) * 100 * 1vw);
    font-family: "Open Sans", sans-serif;
}
#imgabout{
    width: 50%;
    margin-left: -25%;
}
   #logoprojeto, #imgods9{
       display: none;
   }
    #projeto{
         display: block;   
         width: 100%;
         padding: 0;
         margin: 10px auto;
         float: none;
    }

    #description{
    font-size: clamp(0,1em, 1em + 1vw, 1.0em);
    padding-left: 2%;

}
#background {
    margin-right: -60px;
    height: 94%;

}
#dev {
    left: 100%;
}
#tx1 {
    margin-bottom: -11%;
    padding-left: 5px;
    width: 300%;
}
.textods9{
    padding-left: 5px;
    width: 300%;
}
.t1 {
    margin-bottom: 339px;
}
    #about {
        width: 100%;
        right: 50%;
    }
    #logoprojeto {
        width: 100%;
        position: relative;
        text-align: center;
        padding: 0px;
    }
    #logo {
        margin-left: 32px;
        transform: translateX(-50%);
    }
    #scenario {
        padding-right: 58%;
    }
    #conclusion {
        padding-right: 50%;
    }
    /* Rodapé */
    footer {
    background-color: #212223;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 50px 0;
    color: #fff;
    height: 70%;
    padding-right: 50%;
  }
  footer .container {
    padding: 30px 0 50px 0;
  }
 }
